<template>
  <div>
    <v-card>
      <v-form ref="form">
        <v-card-text>
          <v-container>
            <v-row class="signup" justify="center" align="center">
              <v-col cols="12" sm="6" md="4">
                <v-text-field
                  :rules="[juminRules.required, juminRules.counter]"
                  color="green"
                  label="주민등록 번호"
                  counter="14"
                  required
                  v-model="jumin"
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row justify="center" align="center">
              <v-btn outlined color="green" @click="onClickJuminVerification">검증</v-btn>
            </v-row>
          </v-container>
        </v-card-text>
      </v-form>
    </v-card>
  </div>
</template>

<script>
export default {
  name: "JuminForm",
  data() {
    return {
      jumin: "",
      juminRules: {
        required: value => !!value || "주민등록번호 입력이 필요합니다.",
        counter: value =>
          value.length === 14 || "주민등록번호는 14 글자이어야 합니다."
      }
    };
  },
  methods: {
    onClickJuminVerification() {
      if (this.$refs.form.validate() == false) {
        return;
      }
      const { jumin } = this;
      this.$emit("juminVerification", {
        jumin
      });
    }
  }
};
</script>
