<template>
  <div class="jumin-page">
    <div>주민번호 검증</div>
    <jumin-form @juminVerification="onClickJuminVerification" />

    <div v-if="jumins">
      <div v-for="item in jumins.data.juminList" :key="item.id">
        <span>
          [{{ moment(item.created_at).format("YYYY-MM-DD hh:mm:ss") }}]</span
        >
        <v-btn outlined color="green" small :disabled="true">{{
          item.jumin_number
        }}</v-btn>
        <span class="true" v-if="item.is_right_jumin">참</span>
        <span class="false" v-else>거짓</span><v-spacer></v-spacer>
        <v-btn outlined color="red" small @click="onClickDeletion(item.id)"
          >삭제</v-btn
        >
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";
import JuminForm from "../form/JuminForm";
import moment from "moment";

export default {
  name: "JuminPage",
  components: {
    JuminForm,
  },
  created() {
    this.getJuminList();
  },
  methods: {
    moment,
    onClickDeletion(id) {
      this.deleteJumin(id);
    },
    onClickJuminVerification(payload) {
      this.verifyJumin(payload);
    },
    ...mapActions(["verifyJumin", "getJuminList", "deleteJumin"]),
  },
  computed: {
    ...mapState(["jumins"]),
  },
};
</script>

<style scoped>
.jumin-page {
  font-size: 16px;
  margin: 10px;
}
.true {
  color: blue;
}
.false {
  color: red;
}
</style>
