<template>
  <div class="main-page">
    <div>실시간 검색어</div>
    <div v-if="keywords">
      <div>
        <span>{{keywords.data.date}}</span>
        <span>{{keywords.data.time}}</span>
      </div>
      <div
        v-for="item in keywords.data.rankingList"
        :key="item.id"
      >{{item.ranking}}등 : {{item.title}}</div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapState } from "vuex";

export default {
  name: "MainPage",
  created() {
    this.getKeywords();
  },
  methods: {
    ...mapActions(["getKeywords"])
  },
  computed: {
    ...mapState(["keywords"])
  }
};
</script>

<style scoped>
.main-page {
  font-size: 16px;
  margin: 10px;
}
</style>
