<template>
  <v-app>
    <v-card>
      <v-app-bar app color="green" dark>
        <v-icon>mdi-alarm-snooze</v-icon>
        <strong class="logo" @click="onClickMainPage">Coding Test</strong>
      </v-app-bar>

      <v-content app>
        <router-view />
      </v-content>

      <v-bottom-navigation app fixed grow color="green">
        <v-btn bottom to="/">
          <span>실시간 검색어</span>
          <v-icon>mdi-magnify</v-icon>
        </v-btn>

        <v-btn bottom to="/jumin">
          <span>주민번호 검증</span>
          <v-icon>mdi-account</v-icon>
        </v-btn>
      </v-bottom-navigation>
    </v-card>
  </v-app>
</template>

<script>
export default {
  name: "App",
  methods: {
    onClickMainPage() {
      this.$router.push({ path: "/" });
    }
  }
};
</script>

<style scoped>
.v-btn {
  margin-left: 5px;
}
.logo {
  margin-left: 5px;
  font-size: 20px;
}
</style>
